/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 10:33:41 PM
    Author     : matenadaran
*/

body{
/*background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFFF00), to(#0000B5))*/

background-color: gray;

}

.fon{
   // border: 1px red solid;
    width: 700px;
    
}

header{
    background-color: activeborder;
    height: 100px;
    width: 700px;
    position: relative;
    
}


header h1{
    position: absolute;
left: 0;
right: 0;
top: 0;
    text-shadow:5px 19px 8px #000000;
}

nav{
    background-color: yellow;
    height: 800px;
    width: 200px;
   float: right;
    
}


nav ul{
     list-style: none;
     margin-top: 103px;
    font-size: 11px;
    //border: 1px red solid;
    text-align: left;

}

nav li{
    margin-left: -22px;

}
section{
    background-color: tomato;
    height: 800px;
    width: 500px;
   float: right;
    
}

.sub{
  
margin-top: 20px;
padding-top: 25px;
border: red 1px solid;
    background-color: blue;
    height: 30px;
    width: 80%;
  
    
}


.double{
    height: 120px;
    width: 120px;
   margin-left: 10px;
    margin-top: 10px;
    border: 1px solid black;
    float: left;
    text-align: left;
    font-size: 10px;
}

.textplace{
   // border: 1px dotted magenta;
    display: table;
    width: 80%;
  
    margin-top: 20px;
}

.sub h3{
    
 margin-top: -10px;
  
text-shadow:5px 8px 5px #31b4bd;
   
  
    width: 80%;
  
    
}

footer{
    background-color: aquamarine;
    height: 50px;
    width: 700px;
    clear: right;
    
}